<div class='comment-form'>
    <h1>Add a new comment</h1>
    <%= form_with model: @comment, url: user_post_comments_path, method: :post, local: true, scope: :comment do |form| %>
        <div>
            <%= form.label :text %>
            <%= form.text_field :text %>
        </div>
        <div class="actions">
            <%= form.submit "Add a comment", class: "custom-button"%>
        </div>
    <% end %>
</div>